.search_form {
  margin-bottom: 0.75rem;
}
.search_form>div {
  display: flex;
  justify-content: space-around;
}
.search_form>div:nth-of-type(2) {
  justify-content: space-around;
  align-items: center;
}
.search_form span {
  font-size: 1em;
}
.search_form .submit_area {
  justify-content: flex-start;
}
.submit_area>*:not(:first-child) {
  margin-left: clamp(0px, 1.5rem, 2rem);
}