/* 子要素が親要素をはみ出しを防ぐ */
*, *:before, *:after {
  /* 横幅・高さにborderとpaddingを含める */
  box-sizing: border-box;
}
body {
  width: 100%;
  /* できるだけ単語途中を避け、折り返す */
  word-wrap : break-word;
  overflow-wrap : break-word;
}
header {
  border-bottom: solid 1px #cccccc;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 1rem;
}
.login_warning {
  display: flex;
}
.login_warning>span:nth-child(2) {
  margin-left: auto;
}
.post_warning {
  display: flex;
}
.post_warning>span:nth-child(2) {
  margin-left: auto;
}

.delete_button_area {
  text-align: right;
}

/* アイコン */
.fas {
  font-size: 1rem;
  color: #6c757d;
}
i.favorite_post {
  color: #ff6600;
}
i.following {
  color: red;
}
i.open {
  color: #28a745;
}
i.fa-lock {
  color: #4628ff;
}