body {
  width: 100%;
}
header {
  border-bottom: solid 1px #cccccc;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 1rem;
}
.login_warning {
  display: flex;
}
.login_warning>span:nth-child(2) {
  margin-left: auto;
}
.post_warning {
  display: flex;
}
.post_warning>span:nth-child(2) {
  margin-left: auto;
}