.form-inline {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}
/*form {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

/* .languagebar {
  display: flex;
}

.languagebar a {
  flex: 1;
} */