.container .display_side {
  display: flex;
  flex-wrap: wrap;
}

.form-inline {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}
/*form {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

.container section {
  flex-basis: 460px;
  margin-top: 16px;
  width: 100%;
  max-width: 900px;
  min-width: 450px;
}
article>section {
  border: solid 1px #cccccc;
}
article section:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
article section a {
  text-decoration: none;
  color: #000000;
}
article section a:hover {
  text-decoration: none;
  color: #000000;
}
article section>a>*:not(:last-child) {
  padding-bottom: 1rem;
}
article section div img {
  width: 100%;
  max-height: 470px;
}

.post_user {
  display: flex;
  position: relative;
}

.link_space {
  flex: 1;
}
.post_user>.favorite_post {
  position: absolute;
  right: 0;
  bottom: 0;
}

.languagebar {
  display: flex;
}

.languagebar a {
  flex: 1;
}

.display_count {
  margin-top: 1.5rem;
}