.container .display_side {
  display: flex;
  flex-wrap: wrap;
}

.form-inline {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}
/*form {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

.container .display_side section {
  flex-basis:47%;
  margin-top: 16px;
  border: solid 1px;
}

.languagebar {
  display: flex;
}

.languagebar a {
  flex: 1;
  text-align: center;
}

.display_count {
  margin-top: 1.5rem;
}