/* 300px~807px d = 507px */
form > .form-group:nth-of-type(2) label {
  width: 100%;
}
.ctr > section *:not([class*="btn"]):not(h3):not(h4):not(.post_pre) {
  font-size: clamp(13px, calc(13px + ((1vw - 3.4px) * 0.5917)), 16px);
}
.ctr > section *[class*="btn"] {
  font-size: clamp(14px, calc(14px + ((1vw - 3.4px) * 0.3945)), 16px);
  padding: clamp(5.25px, calc(5.25px + ((1vw - 3.4px) * 0.1479)), 6px) clamp(10.5px, calc(10.5px + ((1vw - 3.4px) * 0.2959)), 12px);
}
form > button#add {
  margin-bottom: 20px;
}
form > button:first-of-type:not(#add) {
  margin-right: clamp(16px, calc(16px + ((1vw - 3.4px) * 6.3116)), 48px);
}

.post_pre {
  /* white-space: pre-wrap; */
  font-size: clamp(14px, calc(16px + ((1vw - 3.4px) * 0.789)), 18px);
  line-height: 1.75;
}
.post_pre h3 {
  font-size: clamp(21px, calc(16px + ((1vw - 3.4px) * 1.3807)), 28px);
}
.post_pre h4 {
  font-size: clamp(18px, calc(16px + ((1vw - 3.4px) * 1.1834)), 24px);
}
.post_pre img {
  display: block;
  width: clamp(268px, 100%, 568px);
  margin: 8px auto 8px auto;
}
.post_pre img.title_img {
  margin: 0 auto;
  max-height: clamp(187.5px, calc(187.5px + ((1vw - 3.4px) * 41.3215)), 397px);
}
.post_pre > h4:not(:first-of-type) {
  margin-top: 28px;
}